
.address-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh; 
    padding: 2rem;
    color: #333;
    text-align: center; 
    box-sizing: border-box;
    gap: 3rem;
    
  }
  
  .address-list-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .address-list-container ul {
    list-style-type: none;
    padding: 0;
    width: 100%; 
    max-width: 800px; 
    box-sizing: border-box;
  }
  
  .address-list-container ul li {
    background-color: #f9f9f9;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(214, 195, 195);
    box-sizing: border-box;

  }
  
  .address-list-container ul li div {
    display: flex;
    flex-direction: column;
    width: 100%; 
  }
  
  .address-list-container ul li div strong {
    color: #007bff; 
  }
  
  .address-list-container ul li div span {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  
  /* Responsive styling for tablets and smaller screens */
  @media (max-width: 768px) {
    .address-list-container {
      padding: 1rem;
      box-sizing: border-box;
    }
  
    .address-list-container h2 {
      font-size: 1.5rem;
    }
  
    .address-list-container ul li {
      padding: 0.8rem;
      box-sizing: border-box;
    }
  
    .address-list-container ul li div {
      font-size: 0.9rem;
    }
  }
  
  /* Responsive styling for very small devices */
  @media (max-width: 480px) {
    .address-list-container h2 {
      font-size: 1.25rem;
    }
  
    .address-list-container ul li {
      padding: 0.6rem;
      box-sizing: border-box;
    }
  
    .address-list-container ul li div {
      font-size: 0.8rem;
    }
  }
  